extends ../layouts/layout-ui.pug
block variables

block content

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					