.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			
			a(href="http://localhost:3000/").back-index На Главную
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="grids.html") Сетки				
				li
					a(href="typography.html") Типографика
				li
					a(href="positions-classes.html") Классы
				
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Формы
			
				//- li
				//- 	a(href="filters.html") Кастомные selectli
				li
					a(href="components.html") Компоненты
				
		.ui-panel-block__part
			h3 Карточки
			ul
				li
					a(href="review-card.html") Карточка Отзыва
				li
					a(href="boss-card.html") Карточка Руководителя	
				li
					a(href="persone-card.html") Short-Карточка Персоны 
				li
					a(href="blog-card.html") Карточка Блога
				li
					a(href="accredit-card.html") Карточка Аккредитации
				li
					a(href="info-card.html") Карточка Услуги
				li
					a(href="process-stage.html") Карточка Этап работы
				li
					a(href="contacts-card.html") Карточка Контакты
				li
					a(href="scool-card.html") Карточка Заведения
				li
					a(href="level-card.html") Карточка - ссылка ступень образования
				li
					a(href="tab-toggles.html") Переключатели табов		
		.ui-panel-block__part
			h3 Блоки
			ul
				
				li
					a(href="ul-blocks.html") Текстовые списки
				li
					a(href="acordion.html") Аккордеон
				li
					a(href="stage-tabs.html") Этапы работы (tabs)
				li
					a(href="search-single-result.html") Результат поиска
				li
					a(href="filters-menu.html") Меню с фильтрами
			
				li
					a(href="section-title.html") Заголовoк + подзаголовок в секции
		.ui-panel-block__part
			h3 Секции
			ul
				
				li
					a(href="header.html") Шапка с навигациями				
				li
					a(href="header-banner.html") Баннер в шапке (внутренние страницы)
				
		
		.ui-panel-block__part
	
			h3 Страницы 
			//- ul
			//- 	li