.seo-map{
	padding-top: 82px;
	padding-bottom: 55px;
	
	.title, .title-sub{
		max-width: 70%;
		@media (max-width: 1023px) {
		  width: 100%;
		}
	}
	.seo-map-block{
		position: relative;
		
		aspect-ratio: 160/69;
		min-height: 500px;
		background-image: url('../img/seo-map-bg.webp');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}