section.catalogy
	.container
		h2.h2 Лента / Фильтры
		.catalogy-tags
			button.tag(type="button") #seo
			button.tag(type="button") #analytics
			button.tag(type="button") #ppc
			button.tag(type="button") #smm
			button.tag(type="button") #tech
			button.tag(type="button") #content
			button.tag(type="button") #serm
			button.tag(type="button") #email
			button.tag(type="button") #case
			button.tag(type="button") #FMCG
			button.tag(type="button") #business
			button.tag.active(type="button") #performance
			button.tag(type="button") #Marketplaces
			button.tag(type="button") #Reputation|
			button.tag(type="button") все
			button.tag(type="button") #imba
			button.tag(type="button") #ecommerce