section.catalogy
	.container
		h2.h2 Лента / Фильтры
		.catalogy-tags
			button.tag(type="button") #seo
			button.tag(type="button") #analytics
			button.tag(type="button") #ppc
			button.tag(type="button") #smm
			button.tag(type="button") #tech
			button.tag(type="button") #content
			button.tag(type="button") #serm
			button.tag(type="button") #email
			button.tag(type="button") #case
			button.tag(type="button") #FMCG
			button.tag(type="button") #business
			button.tag.active(type="button") #performance
			button.tag(type="button") #Marketplaces
			button.tag(type="button") #Reputation|
			button.tag(type="button") все
			button.tag(type="button") #imba
			button.tag(type="button") #ecommerce

		//======cards wrapper ===
		.catalogy-content.grid-three-columns
			+card
			+card2
			+card2
			//============== VIDEO============
			.large-card
				.video-box
					button.btn-play
					.video-poster
						img(src="./img/poster.webp", srcset="./img/poster@2x.webp 2x" width="1028" height="622" alt="img")
					video.video.lazy( muted autoplay playsinline)
						source(src="./video/video.mp4", type="video/mp4")
			+card
			+card
			+card
			+card
			//============== FORM ============
			.inner-form
