footer.footer
	.container
		.footer-content
			.footer-logo
				a(href="index.html").logo
					svg.svg-footer-logo
						use(href='./img/footer-logo.svg#svg-footer-logo')
				a(href="#!").link Политика конфиденциальности
				a(href="#!").link Публичная оферта
				.bank-details
					p © 2019–2024 SAVOVИНН 
					p 781713009343ОГРНИП 
					p 319784700168929