footer.footer
	.container
		.footer-content
			.footer-logo
				a(href="index.html").logo
					svg.svg-footer-logo
						use(href='./img/footer-logo.svg#svg-footer-logo')
				a(href="#!").link Политика конфиденциальности
				a(href="#!").link Публичная оферта
				.bank-details
					p © 2019–2024 SAVOVИНН 
					p 781713009343ОГРНИП 
					p 319784700168929
			
			.footer-nav
				.nav
					.nav-title Реклама
					nav.nav-list
						a.nav-item(href="#!") Услуги 
						a.nav-item(href="#!") Эксперты 
						a.nav-item(href="#!") Опыт в нишах
						a.nav-item(href="#!") Опыт в нишах
						 
				.nav
					.nav-title Дизаин
					nav.nav-list
						a.nav-item(href="#!") Услуги 
						a.nav-item(href="#!") Эксперты 
						a.nav-item(href="#!") Опыт в нишах 
						a(href="#!") 
				
				.nav
					.nav-title Команда
					nav.nav-list
						a.nav-item(href="#!") Эксперты 
						a.nav-item(href="") Делимся опытом
						a.nav-item(href="") Вакансии
						
				
				.nav
					.nav-title Контакты
					nav.nav-list
						a(href="").nav-item info@savov.ru
						a(href="").icon-link.nav-item
							img(src="./img/phone.webp",  alt="")
							span 8 (900) 656- 69-03
						a(href="").icon-link.nav-item
							img(src="./img/whatsapp.webp", alt="") 
							span 8 (900) 656- 69-03
						a(href="").icon-link.nav-item
							img(src="./img/telegram.webp", alt="")
							span @savov
						a(href="").icon-link.nav-item
							img(src="./img/youtube.webp", alt="")
							span @savov
