section.promo
	.container
		.breadcrumbs
			ul
				li 
					a(href="#!") Главная
				li 
					a(href="#!") Услуги
				li 
					a(href="#!") Контекстная реклама
		.promo-banner.flex
			//=== title block ===
			.promo-title
				h1.h1 Что такое контекстная реклама
				p.txt-20 Что такое контекстная реклама Что такое контекстная реклама Что такое контекстная реклама Что такое контекстная реклама
			//====bottom row ====
			.promo-bottom.flex
				.tags-wrapper
					.tag 👏 290
					.tag
						svg.svg-eye
							use(href='./img/sprite.svg#svg-eye')
						|290
					p.bold-20 7 min read
				a(href="#!").btn.btn--black Читать статью
