//========= SEO MAP =======
section.seo-map
	.container
		
		h2.title  Преимущества SEO - продвижения
		.title-sub  Почему его заказывают?
		.seo-map-block
			.seo-map-title SEO
			//==== список слева ====
			ul.seo-map-list
				li Traffie monitoring
				li Content
				li Strategy
				li Social networt
				li Ranking
				li Feedback
			//==== список справа ====
			ul.seo-map-list
				li Traffie monitoring
				li Content
				li Strategy
				li Social networt
				li Ranking
				li Feedback