//========= SEO MAP =======
section.seo-map
	.container
		
		h2.title  Преимущества SEO - продвижения
		.title-sub  Почему его заказывают?
		
		.seo-map-block
			p.seo-map-title SEO
			.seo-map-content
				//==== список слева ====
				ul.seo-map-list.seo-map-list--left
					li 
						span Traffie monitoring
					li 
						span Content
					li 
						span Strategy
					li 
						span Social networt
					li 
						span Feedback
					li 
						span Ranking
					li 
						span links building
				//==== список справа ====
				ul.seo-map-list.seo-map-list--right
					li 
						span Keyword research
					li 
						span Links building
					li 
						span Softuire development
					li 
						span Sitemap optimization
					li 
						span Web design
					li 
						span Website optimization
					li 
						span links building