section.single-article.custom-text
	.container
		.white-wrapper
			.preview-blockquote
				blockquote Получая запрос от пользователя, ПС Яндекс формирует выдачу, которая наиболее полно удовлетворяет пользовательские потребности. В этом состоит основная задача поисковой системы. При этом Яндекс старается подобрать не просто релевантные результаты, но те, которые он считает качественными и оценивает высоко. Оценка, которую Яндекс дает каждому сайту, называется показателем ИКС.
			.aside-grid
				.aside-grid-content
					p Понятие ИКС ввели в 2018 году, оно так и расшифровывается – индекс качества сайта. До 2018 года использовали термин тИЦ, то есть индекс качества цитирования. Тогда считалось, что качество ресурса определяется, прежде всего, частотой его упоминаний в интернете. Это означало, что чем больше ссылочный профиль сайта, тем выше его авторитет. Однако вследствие такого подхода в поисковую выдачу стали регулярно попадать сайты с контентом низкого качества, поэтому впоследствии теорию пересмотрели.
					p В 2024 году показатель ИКС регулярно отслеживают и улучшают, особенно при SEO-продвижении в ПС Яндекс. Насколько важен этот индекс и какие сайты считаются «качественными» с точки зрения Яндекса – разберемся.
				
					h2 Что такое ИКС
					p ИКС, или индекс качества сайта – это рейтинг, который Яндекс присваивает каждому ресурсу, основываясь на степени его полезности.
					p Система оценивает, насколько сайт авторитетен и удобен в работе, насколько полезен представленный на нем контент, закрывает ли он потребности пользователей. Оценка, которую дает ПС, выражается числом от нуля до бесконечности.
					blockquote Отметим, что индекс качества имеет значение только в поиске Яндекса. Ранее, до 2016 года, Google использовал похожий показатель PageRank, но в 2024 году аналогичных метрик у Гугла нет.
					
					h2 Как формируется ИКС
					p Формируя оценку качества каждого сайта, Яндекс в первую очередь «смотрит» на два показателя – авторитетность ресурса и его пользу. Они включают в себя еще несколько аспектов. По этим аспектам система сравнивает вас с конкурентами и присваивает вам более высокий или низкий рейтинг.
					
					h2 Авторитетность
					p #[strong Система считает авторитетными сайты, которым пользователи могут доверять. Уровень авторитетности складывается из нескольких показателей:]

					ul
						li Ссылочная масса, то есть количество ссылок на сайт в интернете и их качество.
						li Процент органического трафика, который приходит из поиска Яндекса.
						li Процент брендового трафика, то есть число посетителей, которые приходят по запросам, содержащим название бренда/компании/продукта.
						li Показатель кликабельности сниппетов в поисковой выдаче.
					
					h2 Полезность
					p #[strong Рассчитывая степень полезности, ПС оценивает:]
					ul
						li Поведенческие факторы сайта: сколько времени посетители проводят на страницах, насколько глубоко их просматривают и т.д.
						li Разнообразие источников перехода: откуда приходит больше всего посетителей.
						li Количество новых и повторных посещений, соотношение тех, кто уже был на сайте ранее, и тех, кто пришел впервые
					
					h2 Влияет ли ИКС сайта на SEO продвижение
					p Официальных данных о влиянии индекса качества сайта на его ранжирование в выдаче Яндекс не предоставляет. Если сравнить ИКС лидеров в ТОПе выдачи, то можно обнаружить существенные различия:
					
					img(src="./img/img1.webp" srcset="./img/img1@2x.webp 2x", width="1076" height="532" alt="img")
					img(src="./img/img2.webp" srcset="./img/img2@2x.webp 2x", width="1076" height="348" alt="img")

					img(src="./img/img3.webp" srcset="./img/img3@2x.webp 2x", width="1076" height="344" alt="img")
					blockquote Тем не менее, специалисты по #[span SEO-продвижению] отмечают взаимосвязь между индексом качества и позициями в выдаче. Если сам ИКС не имеет прямой связи с ранжированием, то параметры сайта, на основании которых он формируется, влияют на позиции напрямую.
					p Влияние ИКС на продвижение обусловлено тем, что качественным с точки зрения Яндекса считается ресурс с хорошими показателями. Если сайт имеет стабильный приток органического трафика из разных источников, пользуется популярностью, регулярно упоминается в сети и имеет положительные поведенческие характеристики, то и его позиции в выдаче будут высокими. Юзабилити, ссылочная масса, качество контента – это не только про ИКС, но и про уровень сайта в целом. Сайт, который релевантен пользовательским запросам и удобен в работе, нравится посетителям и поисковым роботам, а это значит, что у него больше шансов выйти в ТОП.
					h2 Почему ИКС меняется
					p ИКС – нестабильная величина, значение индекса может колебаться под воздействием ряда факторов. Известно, что Яндекс пересчитывает ИКС каждого сайта примерно раз в месяц. Какие именно факторы учитывает система при обновлении индекса – не разглашается.
					blockquote Важно понимать, что в некоторых сферах посещаемость ресурса и поведение пользователей напрямую зависят от сезона.
					p Например, интернет-магазин лодок и сап-бордов не будет востребован у пользователей в зимнее время. А магазин горнолыжной экипировки – в летнее. В этот период заметно снизится трафик, будет меньше переходов и упоминаний в сети. Соответственно снизится индекс качества.
					img(src="./img/img4.webp" srcset="./img/img4@2x.webp 2x", width="1076" height="748" alt="img")
					p #[strong Но есть ряд причин падения ИКС, которые нужно отслеживать и своевременно устранять:]
					ul
						li Появление вредоносных кодов, программ или файлов на сайте, рассылка спама;
						li Прямое мошенничество (фишинг, дорвей, подменный контент, скрытые тексты, подключение платных подписок пользователям и др.);
						li Накрутка трафика и поведенческих факторов;
						li Переоптимизация (излишняя оптимизация) страниц под конкретные ключи;
						li Некачественная оптимизация страниц: отсутствие мета, некорректные заголовки и т.д.;
						li Бесполезный контент, не отвечающий запросам пользователей;
						li Некорректный файл robots.txt: ошибки и путаница в директивах, из-за которых страницы индексируются некорректно;
						li Низкая скорость загрузки, в том числе для мобильных устройств, отсутствие мобильной адаптации и прочие проблемы с юзабилити.
					blockquote Кстати, если на вашем сайте переизбыток рекламных баннеров, то это тоже может серьезно «уронить» вас в глазах Яндекса.
					p Если вы заметили резкое падение индекса качества, не связанное с сезонностью и прочими объективными причинами, то следует немедленно проверить свой сайт по вышеуказанным пунктам. 
					p В целом, любое изменение трафика и поведенческих привычек посетителей может повлиять на индекс качества как в минус, так и в плюс. Пользователи могут негативно реагировать на изменения не только в каталоге продукции, но и в интерфейсе сайта. Поэтому если вы вносите какие-либо корректировки в структуру, контент или дизайн, то не забывайте мониторить пользовательское поведение и проверять показатель ИКС.
					blockquote Помните, что наличие корректно составленных инструкций в значительной мере облегчает роботам задачу и улучшает ранжирование вашего сайта в ПС.
					img(src="./img/img5.webp" srcset="./img/img5@2x.webp 2x", width="1076" height="641" alt="img")
					p Кроме того, индекс качества своего сайта можно посмотреть в Яндекс Вебмастере.
					p Для этого заходим в Вебмастер и сразу же видим искомый показатель в открывшейся таблице.
					img(src="./img/img6.webp" srcset="./img/img6@2x.webp 2x", width="1076" height="489" alt="img")
					p Чтобы оценить динамику изменения ИКС, выбираем нужный сайт в списке, идем в раздел «Качество сайта» и анализируем график «Показатели качества».
					img(src="./img/img7.webp" srcset="./img/img7@2x.webp 2x", width="1076" height="489" alt="img")
					img(src="./img/img8.webp" srcset="./img/img8@2x.webp 2x", width="1076" height="489" alt="img")

					h2 Какой ИКС должен быть
					p Точных значений ИКС, к которым должен стремиться владелец сайта, Яндекс не предоставляет. Чем выше этот показатель, тем лучше. Но нужно учитывать возраст сайта, востребованность продукта в нише, обширность ЦА и прочие факторы.
					p #[strong На основании опыта SEO-специалистов были приняты условные значения:]
					.flex-list
						ul
							li
								strong До 10
								p – это очень низкий показатель, стартовая позиция для сайтов, которые созданы недавно и еще не успели набрать поведенческие характеристики.
							li
								strong От 10 до 50
								p – средний ИКС, означает, что у сайта есть стабильная аудитория посетителей и перспективы развития.
							li
								strong От 50 до 500
								p – средний ИКС, означает, что у сайта есть стабильная аудитория посетителей и перспективы развития.
							li
								strong От 500 до 2000
								p – высокий, характерный для популярных возрастных сайтов со стабильно высоким трафиком.
							li
								strong От 2000
								p – самый высокий ИКС. Такие показатели можно увидеть у самых посещаемых ресурсов.


				

				
				
				
				//=======sidebar====
				.aside-grid-sidebar