section
	.container
		button.btn Button
		a(href="#!").btn Button
		input(type="submit" value="Button").btn
		pre.
			button.btn Button
		hr
		.tag #analytics
		pre.
			.tag #analytics
		.tag.active #analytics
		pre.
			.tag.active #analytics
		.flex.tags-wrapper
			.tag #analytics
			.tag.active #analytics
			.tag #analytics
			.tag #analytics
