.btn,
.btn[type],
.tag,.tag-slim{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-shrink: 0;
	border-radius: 35px;
	font-family: $ft;
	cursor:pointer;
	transition: .3s; 
	&:hover{opacity: .5;}
}
.btn, .btn[type]{
	padding-inline: 46px;
	background-color: $dark;
	color: $white;
	border:1px solid #f9f9f9;
	height: 66px;
	font-size: 20px;
	font-weight: 700;
	@media (max-width: 1439px) {
	 height: 60px;
	font-size: 18px;
	}
	
}
.btn.btn--black{
	background-color: #131313;
	border-color: #131313;
	font-weight: 900;
	font-family: $fs;
	letter-spacing: 0.07em;
}
.tag{
	height: 50px;
	padding-inline:40px;
	background-color: transparent;
	font-weight: 600;
	font-size: 24px;
	font-family: $ft;
	color: $lightText;
	flex-shrink: 0;
	border: 1px solid currentColor;
	&.active{
		background-color: #fff;
		color: $dark;
	}
	@media (max-width: 1439px) {
		height: 38px;
		padding-inline: 30px;
		font-size: 18px;
	}
}

.tag-slim{
	cursor: default;
	height: 40px;
	font-size: 14px;
	column-gap: 5px;
	font-family: $ff;
	padding-inline: 22px;
	background-color: $dark;
	&:hover{opacity: 1;}
}
.btn-play{
	width: 126px;
	height: 126px;
	border-radius: 50%;
	display: block;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='126' height='126' viewBox='0 0 126 126' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M62.8199 0C28.1279 0 0 28.1279 0 62.8199C0 97.5117 28.1279 125.64 62.8199 125.64C97.5117 125.64 125.64 97.5117 125.64 62.8199C125.64 28.1279 97.5117 0 62.8199 0ZM86.1472 63.5311L50.811 84.6211C50.558 84.7747 50.2358 84.7823 49.9752 84.6287C49.7222 84.483 49.5612 84.2111 49.5612 83.908V62.8177V41.7274C49.5612 41.4285 49.7222 41.1524 49.9752 41.0064C50.2358 40.857 50.558 40.8646 50.811 41.014L86.1472 62.1083C86.4002 62.2521 86.5499 62.5299 86.5499 62.8175C86.5499 63.1112 86.4005 63.3836 86.1472 63.5311Z' fill='black' /%3e%3c/svg%3e");
	background-size: contain;
}