*[class^="icon-"]{
	display: inline-block;
}

.svg-eye{
	width: 18px;
	height: 14px;
}
.svg-arrow-down{
	width: 18px;
	height: 22px;
	fill: transparent;
	color: white;
}
.svg-chevron{
	width: 31px;
	height: 24px;
	color: #3C3D3D;
	fill: transparent;
}