.promo h1, .h1{
	font-size: 90px;
	color: white;
	line-height: .89;
	font-weight: 800;
	@media (max-width: 1439px) {
	  font-size: 70px;
	}
	@media (max-width: 1023px) {
		font-size: 56px;
	}
	@media (max-width: 767px) {
	 font-size: 36px;
	}
}
.h2,
.h3{
	font-size: 28px;
	line-height: 1.2;
	color: $lightText;
	font-weight: 700;
}
.h3{
	font-size: 24px;
	color: $white;
}
.txt-20,.bold-20, .subtitle{
	font-size: 20px;
}
.subtitle{
	font-family: $ft;
	@media (max-width: 1439px) {
		font-size: 16px;
	}
}
.bold-20{font-weight: 700;}
.txt-18 {
	font-size: 18px;
	line-height: 1.3;
	
}
.txt-14 {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 300;
	color: #D6D6D6;
}
.breadcrumbs{
	padding-top: 9px;
	padding-bottom: 9px;
	
	li{
		display: inline-block;
		position: relative;
		margin-right: 6px;
		&:not(:last-child):after{
			content: '/';
			position: absolute;
			right: -6px;
			top: 1px;
			color: inherit;
			
		}
		a{
			font-size: 14px;
			line-height: 1.5;
			color: #eee;
			padding-right: 6px;
			font-family: $ft;
			@media (max-width: 767px) {
			font-size: 10px;
			font-family: $ff;
			}
		}
		&:last-child{margin-right: 0;}
		&:last-child a{
			color: #F7F7F5;
			cursor:default;
			&:hover{color: #F7F7F5;}
			pointer-events: none;
		}
	}
}