extends ../layouts/layout.pug

block content
	.page-column
		include ../sections/_header.pug
		//==== MAIN =====
		main.inner-main
			include ../sections/_promo-seo.pug
			section.our-benefits
				.container
					.our-benefits-grid
						.benefit-card.benefit-1
							svg.svg-ten
								use(href='./img/sprite.svg#svg-ten')
							p В DIGITAL
						.benefit-card.benefit-2
							p РОССИЯ #[br] СНГ #[br] ОАЭ #[br]
								span и многие другие
						.benefit-card.benefit-3
							p 97% клиентов
							p Продолжают работать с нами более 3-х лет
							img(loading='lazy' src='./img/planet.webp' srcset="./img/planet@2x.webp 2x" width='287' height='286' alt='a')
							p.item-3__text-2.
								Мы тщательно изучаем особенности бизнеса каждого клиента, соблюдаем установленные сроки и решаем самые нестандартные задачи
							a.btn.btn--gray(href='#modal_order') Пригласить в тендер
						
						.benefit-card.benefit-4
							img(loading='lazy' src='./img/dashboard.webp' srcset="./img/dashboard@2x.webp 2x" width='360' height='330' alt='img')
						.benefit-card.benefit-5
			
		//==== FOOTER =====
		include ../sections/_footer.pug
	
block variables
	-var title = "Одна статья";
